<section class="home_area_directory_section">
    <div class="wrap">
      <header class="block-head">
        <h2 class="block-head__title">Our Local Coverage Across Peterborough & Surrounding Villages</h2>
        <p>Our engineers provide rapid response repairs, installations, and automation services throughout all core districts and high-value rural locations.</p>
      </header>
  
      <div class="area_directory_wrapper">
        
        <div class="area_directory_group">
          <h3>Peterborough Districts</h3>
          <div class="area_directory_grid">
            <a href="../areas/bretton.html">Garage Doors Bretton</a>
            <a href="../areas/werrington.html">Garage Doors Werrington</a>
            <a href="../areas/gunthorpe.html">Garage Doors Gunthorpe</a>
            <a href="../areas/paston.html">Garage Doors Paston</a>
            <a href="../areas/walton.html">Garage Doors Walton</a>
            <a href="../areas/dogsthorpe.html">Garage Doors Dogsthorpe</a>
            <a href="../areas/ravensthorpe.html">Garage Doors Ravensthorpe</a>
            <a href="../areas/westwood.html">Garage Doors Westwood</a>
            <a href="../areas/longthorpe.html">Garage Doors Longthorpe</a>
            <a href="../areas/orton.html">Garage Doors Orton</a>
            <a href="../areas/hampton.html">Garage Doors Hampton</a>
            <a href="../areas/stanground.html">Garage Doors Stanground</a>
            <a href="../areas/fletton.html">Garage Doors Fletton</a>
            <a href="../areas/fengate.html">Garage Doors Fengate</a>
            <a href="../areas/newark.html">Garage Doors Newark</a>
            <a href="../areas/eastfield.html">Garage Doors Eastfield</a>
          </div>
        </div>
  
        <div class="area_directory_group">
          <h3>Surrounding Villages</h3>
          <div class="area_directory_grid">
            <a href="../areas/yaxley.html">Garage Doors Yaxley</a>
            <a href="../areas/whittlesey.html">Garage Doors Whittlesey</a>
            <a href="../areas/eye.html">Garage Doors Eye</a>
            <a href="../areas/glinton.html">Garage Doors Glinton</a>
            <a href="../areas/helpston.html">Garage Doors Helpston</a>
            <a href="../areas/newborough.html">Garage Doors Newborough</a>
            <a href="../areas/thorney.html">Garage Doors Thorney</a>
          </div>
        </div>
  
      </div>
    </div>
  </section>